services:
  web:
    build: .
    container_name: lab6_web  # Изменили имя
    volumes:
      - ./www:/var/www/html
    ports:
      - "8080:80"
    command: php -S 0.0.0.0:80 -t /var/www/html
    depends_on:
      - elasticsearch

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.10.2
    container_name: lab6_elasticsearch  # Изменили имя
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"